<body>
	<h1>
    <%= link_to 'The House of Black and White', controller: 'welcome' %>
  </h1>
	<div class="nav">
		<ul>
			<li>
			<%= link_to 'Home', controller: 'welcome' %>
			</li>
			<li>
			<!-- change this to forums controller soon.... -->
				<%= link_to 'Forums', controller: 'articles' %>
			</li>
			<li>
				<%= link_to 'Products', controller: 'welcome' %>
			</li>
			<li>
				<%= link_to 'Gallery', controller: 'welcome' %>
			</li>
			<li>
				<%= link_to 'Live', controller: 'welcome' %>
			</li>
			<li>
				<%= link_to 'About', controller: 'welcome' %>
			</li>
		</ul>
	</div>
	<div class="chat">
		Chat tab
	</div>
	<div class="content">