<style type="text/css">
	body{background-color: grey;color:white;}
	a:visited, a{color:white;text-decoration: none;}
	li:hover{background-color: #aeaeae}
	li{list-style: none;display: inline-block;padding:5px 10px 10px 5px; border-bottom:solid white 1px;}
	.nav{display: inline-block;}
	.title{font-size:28px;font-family: sans-serif;text-align: center;}
	h1{font-family: helvetica}
	div{padding-bottom: 5px;}
	.chat{float:right;padding:25px;border:1px white solid;}
</style>
<body>
	<h1>
    <%= link_to 'The House of Black and White', controller: 'welcome' %>
  </h1>
	<div class="nav">
		<ul>
			<li>
			<%= link_to 'Home', controller: 'welcome' %>
			</li>
			<li>
			<!-- change this to forums controller soon.... -->
				<%= link_to 'Forums', controller: 'articles' %>
			</li>
			<li>
				<%= link_to 'Products', controller: 'welcome' %>
			</li>
			<li>
				<%= link_to 'Gallery', controller: 'welcome' %>
			</li>
			<li>
				<%= link_to 'Live', controller: 'welcome' %>
			</li>
			<li>
				<%= link_to 'About', controller: 'welcome' %>
			</li>
		</ul>
	</div>
	<div class="chat">
		Chat tab
	</div>
	<div class="content">
		<div class="title">
			New site!
		</div>
		<div class="body">
			Welcome to the new website. things are still being built. Feel free to chill and hangout in the forums or the chat room. Products coming soon! 
		</div>
	</div>
</body>